{{ template "header"}}
{{if .User.ID}}
<p>You are logged in as {{.User.ID}}</p>
{{else}}
<form action="login">
<label>Ingrese su legajo</label>
<input placeholder="33333" name="legajo" type="text">
</form>
{{end}}
{{template "footer"}}