{{define "header" -}}
<!DOCTYPE html>
<html>
<head>
    <title>UDESA - Evaluador de Python</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link defer rel="stylesheet" src="https://www.jqueryscript.net/css/jquerysctipttop.css">
    <!-- lined text area package -->
    <link rel="stylesheet" href="{{assetPath "css/jquery-linedtextarea.css"}}">
    <!-- Bootstrap 5  -->
    <script src="{{ assetPath "js/bootstrap.js" }}"></script> 
    <link rel="stylesheet" href="{{ assetPath "css/bootstrap.min.css" }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- MathJax for fancy LaTeX math notation-->
    <script defer id="MathJax-script" src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
    <div class="topnav">
        <a href="/" class="active">Evaluador de Python</a>
    </div>
    <main>
{{end}}

{{define "footer"}}
  </main>
  <footer>
    <p>
      Copyright 2022 - upsya
    </p>
    <p>
      See source: <a href="https://github.com/soypat/upsya">github.com/soypat/upsya</a>. soypat/upsya is licensed under the <strong>MIT License</strong>.
    </p>
  </footer>
</body>
</html>
{{end}}
